
@{
    ViewData["Title"] = "Packages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- page header -->
<section class="header" style="background-image: url(../images/slider1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Tours</h1>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                            standard dummy text ever since
                        </p>
                        <div class="ui breadcrumb">
                            <a href='@Url.Action("Index","Home")' class="section">Home</a>
                            <div class="divider"> / </div>
                            <div class="active section">Hotel Grid</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- hotel -->
<section class="tour-inner">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="tools-ber">
                    <div class="row">
                        <div class="col-sm-3 col-md-3 hidden-xs">
                            <div class="input-group custom-search">
                                <input type="text" class="form-control" placeholder="Search" />
                                <span class="input-group-btn">
                                    <button class="btn hotel-search" type="button">
                                        <span class="fa fa-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <!-- filters select -->
                            <div class="select-filters">
                                <select name="sort_price" id="sort-price">
                                    <option value="" selected="">Sort by price</option>
                                    <option value="lower">Lowest price</option>
                                    <option value="higher">Highest price</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <!-- filters select -->
                            <div class="select-filters">
                                <select name="sort_price" id="sort-rank">
                                    <option value="" selected="">Sort by ranking</option>
                                    <option value="lower">Rank one</option>
                                    <option value="higher">Rank one</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-5 hidden-xs text-right">
                            <a class="filters-btn collapse" data-toggle="collapse" href="#collapseMap" onclick="init();"><i class="flaticon-earth-globe"></i></a>
                            <a href="#" class="filters-btn"><i class="flaticon-squares-gallery-grid-layout-interface-symbol"></i></a>
                            <a href="#" class="filters-btn"><i class="flaticon-bulleted-list"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- collapse map -->
            <div class="col-sm-12">
                <div class="collapse" id="collapseMap">
                    <!-- The element that will contain Google Map. This is used in both the Javascript and CSS above. -->
                    <div id="map"></div>
                </div>
            </div>
            <!-- sideber -->
            <div class="col-sm-4 col-md-3">
                <!-- price pips -->
                <div class="sidber-box cats-price">
                    <div class="cats-title">Price</div>
                    <div class="price-Pips">
                        <input type="text" id="range" value="range" name="range" />
                    </div>
                </div>
                <!-- star -->
                <div class="sidber-box cats-star">
                    <div class="cats-title">
                        Star Category
                    </div>
                    <div class="checkbox-star">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                <span class="star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                <span class="star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                <span class="star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                <span class="star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                <span class="star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- Facility -->
                <div class="sidber-box cats-facility">
                    <div class="cats-title">
                        Facility
                    </div>
                    <div class="facility">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                Pet allowed
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                Fitness center
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                Restaurant
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                Tour guides
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                Groups allowed
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                Parking
                            </label>
                        </div>
                    </div>
                </div>
                <!-- help center -->
                <div class="sidber-box help-widget">
                    <i class="flaticon-photographer-with-cap-and-glasses"></i>
                    <h4>Need <span>Help?</span></h4>
                    <a href="#" class="phone">+001620214460</a>
                    <small>Monday to Friday 9.00am - 7.30pm</small>
                </div>
            </div>
            <div class="col-sm-8 col-md-9">
                <div class="hotel-list-content">
                    <div class="row grid-margin">
                        <div class="col-md-4 col-sm-6 col-xs-12 grid-item">
                            <div class="grid-item-inner">
                                <div class="grid-img-thumb">
                                    <!-- ribbon -->
                                    <div class="ribbon"><span>Popular</span></div>
                                    <a href="#"><img src="~/images/slider1.jpg" alt="1" class="img-responsive" /></a>
                                </div>
                                <div class="grid-content">
                                    <div class="grid-price text-right">
                                        Only <span><sub>$</sub>785</span>
                                    </div>
                                    <div class="grid-text">
                                        <div class="place-name">City sightseeing</div>
                                        <div class="travel-times">
                                            <h4 class="pull-left">3 days 2 nights </h4>
                                            <span class="pull-right">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- ../grid item -->
                        <div class="col-md-4 col-sm-6 col-xs-12 grid-item">
                            <div class="grid-item-inner">
                                <div class="grid-img-thumb">
                                    <!-- ribbon -->
                                    <div class="ribbon"><span>Popular</span></div>
                                    <a href="#"><img src="~/images/slider1.jpg" alt="1" class="img-responsive" /></a>
                                </div>
                                <div class="grid-content">
                                    <div class="grid-price text-right">
                                        Only <span><sub>$</sub>785</span>
                                    </div>
                                    <div class="grid-text">
                                        <div class="place-name">Historic Buildings</div>
                                        <div class="travel-times">
                                            <h4 class="pull-left">3 days 2 nights </h4>
                                            <span class="pull-right">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- ../grid item -->
                        <div class="col-md-4 col-sm-6 col-xs-12 grid-item">
                            <div class="grid-item-inner">
                                <div class="grid-img-thumb">
                                    <!-- ribbon -->
                                    <div class="ribbon"><span>Popular</span></div>
                                    <a href="#"><img src="~/images/slider1.jpg" alt="1" class="img-responsive" /></a>
                                </div>
                                <div class="grid-content">
                                    <div class="grid-price text-right">
                                        Only <span><sub>$</sub>785</span>
                                    </div>
                                    <div class="grid-text">
                                        <div class="place-name">Museums</div>
                                        <div class="travel-times">
                                            <h4 class="pull-left">3 days 2 nights </h4>
                                            <span class="pull-right">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- ../grid item -->
                        <div class="col-md-4 col-sm-6 col-xs-12 grid-item">
                            <div class="grid-item-inner">
                                <div class="grid-img-thumb">
                                    <!-- ribbon -->
                                    <div class="ribbon"><span>Popular</span></div>
                                    <a href="#"><img src="~/images/slider1.jpg" alt="1" class="img-responsive" /></a>
                                </div>
                                <div class="grid-content">
                                    <div class="grid-price text-right">
                                        Only <span><sub>$</sub>785</span>
                                    </div>
                                    <div class="grid-text">
                                        <div class="place-name">Mariott Hotel</div>
                                        <div class="travel-times">
                                            <h4 class="pull-left">3 days 2 nights </h4>
                                            <span class="pull-right">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- ../grid item -->
                        <div class="col-md-4 col-sm-6 col-xs-12 grid-item">
                            <div class="grid-item-inner">
                                <div class="grid-img-thumb">
                                    <!-- ribbon -->
                                    <div class="ribbon"><span>Popular</span></div>
                                    <a href="#"><img src="~/images/slider1.jpg" alt="1" class="img-responsive" /></a>
                                </div>
                                <div class="grid-content">
                                    <div class="grid-price text-right">
                                        Only <span><sub>$</sub>785</span>
                                    </div>
                                    <div class="grid-text">
                                        <div class="place-name">Pyramid</div>
                                        <div class="travel-times">
                                            <h4 class="pull-left">3 days 2 nights </h4>
                                            <span class="pull-right">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- ../grid item -->
                        <div class="col-md-4 col-sm-6 col-xs-12 grid-item">
                            <div class="grid-item-inner">
                                <div class="grid-img-thumb">
                                    <!-- ribbon -->
                                    <div class="ribbon"><span>Popular</span></div>
                                    <a href="#"><img src="~/images/slider1.jpg" alt="1" class="img-responsive" /></a>
                                </div>
                                <div class="grid-content">
                                    <div class="grid-price text-right">
                                        Only <span><sub>$</sub>785</span>
                                    </div>
                                    <div class="grid-text">
                                        <div class="place-name">Tour Eiffel Tour</div>
                                        <div class="travel-times">
                                            <h4 class="pull-left">3 days 2 nights </h4>
                                            <span class="pull-right">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- ../grid item -->
                        <div class="col-md-4 col-sm-6 col-xs-12 grid-item">
                            <div class="grid-item-inner">
                                <div class="grid-img-thumb">
                                    <!-- ribbon -->
                                    <div class="ribbon"><span>Popular</span></div>
                                    <a href="#"><img src="~/images/slider1.jpg" alt="1" class="img-responsive" /></a>
                                </div>
                                <div class="grid-content">
                                    <div class="grid-price text-right">
                                        Only <span><sub>$</sub>785</span>
                                    </div>
                                    <div class="grid-text">
                                        <div class="place-name">Beach Tour</div>
                                        <div class="travel-times">
                                            <h4 class="pull-left">3 days 2 nights </h4>
                                            <span class="pull-right">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- ../grid item -->
                        <div class="col-md-4 col-sm-6 col-xs-12 grid-item">
                            <div class="grid-item-inner">
                                <div class="grid-img-thumb">
                                    <!-- ribbon -->
                                    <div class="ribbon"><span>Popular</span></div>
                                    <a href="#"><img src="~/images/slider1.jpg" alt="1" class="img-responsive" /></a>
                                </div>
                                <div class="grid-content">
                                    <div class="grid-price text-right">
                                        Only <span><sub>$</sub>785</span>
                                    </div>
                                    <div class="grid-text">
                                        <div class="place-name">Mariott Hotel</div>
                                        <div class="travel-times">
                                            <h4 class="pull-left">3 days 2 nights </h4>
                                            <span class="pull-right">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- ../grid item -->
                        <div class="col-md-4 col-sm-6 col-xs-12 grid-item">
                            <div class="grid-item-inner">
                                <div class="grid-img-thumb">
                                    <!-- ribbon -->
                                    <div class="ribbon"><span>Popular</span></div>
                                    <a href="#"><img src="~/images/slider1.jpg" alt="1" class="img-responsive" /></a>
                                </div>
                                <div class="grid-content">
                                    <div class="grid-price text-right">
                                        Only <span><sub>$</sub>785</span>
                                    </div>
                                    <div class="grid-text">
                                        <div class="place-name">Adventure Toure</div>
                                        <div class="travel-times">
                                            <h4 class="pull-left">3 days 2 nights </h4>
                                            <span class="pull-right">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- ../grid item -->
                        <div class="col-md-4 col-sm-6 col-xs-12 grid-item">
                            <div class="grid-item-inner">
                                <div class="grid-img-thumb">
                                    <!-- ribbon -->
                                    <div class="ribbon"><span>Popular</span></div>
                                    <a href="#"><img src="~/images/slider1.jpg" alt="1" class="img-responsive" /></a>
                                </div>
                                <div class="grid-content">
                                    <div class="grid-price text-right">
                                        Only <span><sub>$</sub>785</span>
                                    </div>
                                    <div class="grid-text">
                                        <div class="place-name">City Tours</div>
                                        <div class="travel-times">
                                            <h4 class="pull-left">3 days 2 nights </h4>
                                            <span class="pull-right">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- ../grid item -->
                        <div class="col-md-4 col-sm-6 col-xs-12 grid-item">
                            <div class="grid-item-inner">
                                <div class="grid-img-thumb">
                                    <!-- ribbon -->
                                    <div class="ribbon"><span>Popular</span></div>
                                    <a href="#"><img src="~/images/slider1.jpg" alt="1" class="img-responsive" /></a>
                                </div>
                                <div class="grid-content">
                                    <div class="grid-price text-right">
                                        Only <span><sub>$</sub>785</span>
                                    </div>
                                    <div class="grid-text">
                                        <div class="place-name">Mariott Hotel</div>
                                        <div class="travel-times">
                                            <h4 class="pull-left">3 days 2 nights </h4>
                                            <span class="pull-right">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- ../grid item -->
                        <div class="col-md-4 col-sm-6 col-xs-12 grid-item">
                            <div class="grid-item-inner">
                                <div class="grid-img-thumb">
                                    <!-- ribbon -->
                                    <div class="ribbon"><span>Popular</span></div>
                                    <a href="#"><img src="~/images/slider1.jpg" alt="1" class="img-responsive" /></a>
                                </div>
                                <div class="grid-content">
                                    <div class="grid-price text-right">
                                        Only <span><sub>$</sub>785</span>
                                    </div>
                                    <div class="grid-text">
                                        <div class="place-name">Mariott Hotel</div>
                                        <div class="travel-times">
                                            <h4 class="pull-left">3 days 2 nights </h4>
                                            <span class="pull-right">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- ../grid item -->
                    </div>
                </div>
                <!-- pagination -->
                <div class="pagination-inner">
                    <!-- pager -->
                    <ul class="pager">
                        <li class="previous"><a href="#">Previous</a></li>
                        <li class="next"><a href="#">Next</a></li>
                    </ul>
                    <!-- pagination -->
                    <ul class="pagination">
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">15</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Newsletter -->
<section class="get-offer">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <span>Subscribe to our Newsletter</span>
                <h2>& Discover the best offers!</h2>
            </div>
            <div class="col-sm-7">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter Your Email" name="q">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="flaticon-paper-plane"></i> Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

